.filterbar__container {
  position: relative;
  display: flex;
  background-color: var(--color-gray-100);
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
}

/* Fondo animado (el deslizador) */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%; /* 4 botones = 25% cada uno */
  height: 100%;
  background-color: var(--color-blue-500);
  border-radius: 8px;
  transition: transform 0.3s ease;
  z-index: 0;
}

/* Botones */
.button {
  flex: 1;
  width: 10rem;
  padding: 1rem 0;
  background: transparent;
  color: var(--dark-black);
  border: none;
  cursor: pointer;
  font-weight: 500;
  z-index: 1;
  position: relative;
  transition: color 0.3s ease;
}

.button.active {
  color: white;
}