.label{
    opacity: 0;
    position: absolute;
    top: .5rem;
    left: 5rem;
    background-color: var(--color-gray-500);
    color: var(--white);
    padding: .7rem 1rem;
    border-radius: 8px;
    transition: opacity .2s ease-in-out;
    font-size: 1.4rem;
}

.button:hover .label{
    opacity: 1;
}

.button__container:hover button:first-child{
    opacity: 1;
    pointer-events: all;
}